.job-row {
  margin: 0 auto;
  padding: 0 20px;
}
.job-col {
  margin: 0 auto;
  /* background-color: black; */
}
.note {
    background: #fff;
    border-radius: 7px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 3px #ccc;
    padding: 10px 40px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 5px 5px rgb(121, 117, 117);
  }
  @media (max-width: 980px) {
   .note {
     width: 80vw;
   }

}
.note {
  color: #000 !important;
} 
.note:hover {
  box-shadow: 0 5px 10px rgb(92, 89, 89);
}  
  .note h1 {
    font-size: 1.4em;
    /* margin-bottom: 6px; */
  }
  .note h2 {
    font-size: 1.1em;
    
  }
  .note h6 {
    font-size: 1em;
    font-weight: 400;
  }
  .note p {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .apply-button {
    margin-top: 0.5rem !important;
    /* vertical-align: middle !important; */
  }
#job-btn {
 cursor: pointer;
 border-radius: 20px;
 padding: 2px 8px;
 color: white; 
 background-color: #605b83 !important;
 
}
#job-btn:hover {
  box-shadow: 0 1px 5px#9d98bd;
}



/* react-paginate */

#react-paginate ul {
  display: inline-block !important;
  /* margin-left: 10vw !important;  */
  /* padding-left: 0 !important; */
  /* padding-left:200px !important; */
  font-size: x-large !important;
}

#react-paginate li {
  display: inline-block !important;
  border: 1px solid rgb(224, 224, 224) !important;
 background-color: #272343 !important;
  color: #000 !important;
  cursor: pointer !important;
  margin-right: 3px !important;
  border-radius: 5px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  padding: 3px 8px !important;
}
#react-paginate li:hover {
   background-color: rgb(255, 255, 255) !important;
   border:0.1px solid purple !important;
  }
  #react-paginate li a {
    padding: 2px 5px !important;
    display: inline-block !important;
    color: #000 !important;
    color : white !important;
    outline: none !important;
  }
  #react-paginate li a:hover {
  color : purple !important;
  
}
#react-paginate li.active {
  background: rgb(224, 224, 224) !important;
  outline: none !important;
}

@media screen and (max-width: 984px) { 
  #react-paginate ul {
        margin: 0 !important;
        padding: 0 !important;
        margin-left: 10px !important;
        /* background-color: blueviolet !important; */
        /* font-size: xx-small !important; */
        font-size: small !important;
        margin-bottom: 5px !important;

  }
  .no-more-jobs{
    /* background-color: tomato; */
    font-size: 1.2em !important;
    padding: 0 10px !important;
    text-align: center !important;
  }
  #react-paginate li {
  padding: 1px 3px !important;
      /* margin-left: 1px !important; */
   margin-bottom: 40px !important;   
 background-color: #272343 !important;
  }   
  #react-paginate li a {
    color: white !important;
  }
  #session-btn {
    margin-bottom: 40px;
  }
}

.currSessionP{
  /* padding: 20px !important; */
  font-size: 1.5rem !important;
  padding: 0 20px !important;
  color: purple !important;
  font-weight: 600 !important;
  /* border:0.1px solid purple !important; */
  border-radius: 20px !important;
}